fastapi==0.101.1

pydantic==1.10.5

uvicorn == 0.23.2

httpx==0.24.1

pytest==8.0.0

PyMySQL==1.1.0

routers==0.10.1

argon2-cffi         ==   23.1.0

argon2-cffi-bindings  == 21.2.0

slowapi = 0.1.8

requests==2.31.0

mysql-connector==2.2.9

mysql-connector-python==8.3.0

numpy==1.26.3

pandas==2.2.0

SQLAlchemy==2.0.25



